@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: Source Sans Pro;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family)
}


.active {
    color: #E05D5D;
}

.hero {
    height: calc(100dvh - 6rem);
}